<div class="container-fluid" intent-manage="add remove" intent-id="container">
  <form [formGroup]="specialty" intent-manage="" intent-id="form">
    <div class="form-group" intent-id="3a88287e-e942-4322-94ca-db46adf3a10c">
      <label for="name">Name</label>
      <input id="name" class="form-control" formControlName="name" type="text" />
    </div>
  </form>
  <div class="row" intent-id="Section">
    <div class="col" intent-manage="">
      <span intent-manage="" intent-id="307afd7d-1c0a-4d3b-a544-98fdbbe71b3d">
        <button class="btn btn-default" (click)="backToList()">Cancel</button>
      </span>
      <span intent-manage="" intent-id="b4f5cacf-b442-4b95-9882-8fadd7cfd28f">
        <button class="btn btn-default" (click)="onUpdate()">Update</button>
      </span>
    </div>
  </div>
</div>
