<div class="container-fluid" intent-manage="add remove" intent-id="container">
  <form [formGroup]="model" intent-manage="" intent-id="form">
    <div class="form-group" intent-id="c849df92-2532-4208-b3e4-36233158fa30">
      <label for="name">Name</label>
      <input id="name" class="form-control" formControlName="name" type="text" />
    </div>
  </form>
  <div class="row" intent-id="Section">
    <div class="col" intent-manage="">
      <span intent-manage="" intent-id="1ddb085c-c39d-42bc-82cf-296f4aeb9ea2">
        <button class="btn btn-default" (click)="save()">Save</button>
      </span>
    </div>
  </div>
</div>
