<div intent-manage="add remove" intent-id="container">
  <div class="row" intent-id="table">
    <div class="col">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr intent-merge="" intent-id="table-header">
            <th>Visit Date</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of visits" class="clickable" intent-manage="" intent-id="table-data">
            <td>{{item.visitDate}}</td>
            <td>{{item.description}}</td>
            <td intent-ignore="">
              <div class="row" intent-id="Section">
                <div class="col" intent-manage="">
                  <span intent-ignore="" intent-id="0c1c8450-0b6f-4c52-8b01-3addcd7904d4">
                    <button class="btn btn-default" (click)="goToEdit(item.id)">Edit Visit</button>
                  </span>
                  <span intent-ignore="" intent-id="2041eccd-380d-4d8a-8543-2b1cb4238f9e">
                    <button class="btn btn-default" type="button" (click)="deleteVisit(item.id)">Delete Visit</button>
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
