<div class="" intent-manage="add remove" intent-id="container">
  <form [formGroup]="specialty" intent-manage="" intent-id="form">
    <div class="form-group" intent-id="cb5569de-821d-4b54-9990-a9210761a202">
      <label for="name">Name</label>
      <input id="name" class="form-control" formControlName="name" type="text" />
    </div>
  </form>
  <div class="row" intent-id="Section">
    <div class="col" intent-manage="">
      <span intent-manage="" intent-id="aa4cd9b2-bce1-455b-bbb5-46caa0a33a58">
        <button class="btn btn-default" type="button" (click)="save()">Save</button>
      </span>
    </div>
  </div>
</div>
