<div class="container-fluid" intent-manage="add remove" intent-id="container">
  <form [formGroup]="visit" intent-manage="" intent-id="form">
    <div class="form-group" intent-id="2bd18e22-61e7-43a4-b9a5-b74e10ee06ab">
      <label for="visitDate">visitDate</label>
      <input id="visitDate" class="form-control" formControlName="visitDate" type="text" bsDatepicker="" />
    </div>
    <div class="form-group" intent-id="961637d3-b903-4033-9a40-de986ffaa4ea">
      <label for="description">description</label>
      <input id="description" class="form-control" formControlName="description" type="text" />
    </div>
  </form>
</div>
