<?xml version="1.0" encoding="utf-8"?>
<package id="f2f20da5-6e2a-4651-80fd-9c6e913493e6" type="Root Location Package" typeId="fbca4a65-b376-482c-a23d-32da9908cac9">
  <name>root</name>
  <isExternal>false</isExternal>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
  </references>
  <stereotypes />
</package>