<div class="container" intent-manage="add remove" intent-id="container">
  <form [formGroup]="model" intent-manage="" intent-id="form">
    <div class="form-group" intent-id="76e95beb-072e-4a68-b7e9-5acf8dfd2f33">
      <label for="name">Name</label>
      <input id="name" class="form-control" formControlName="name" type="text" />
    </div>
  </form>
  <div class="row" intent-id="Section">
    <div class="col" intent-manage="">
      <span intent-manage="" intent-id="47d2e3d7-0aaa-4972-a1cd-ba1ab2e80901">
        <button class="btn btn-default" type="button" (click)="onUpdate()">Update</button>
      </span>
      <span intent-manage="" intent-id="9ca1bb83-56a6-47e9-9d31-ae64653805e5">
        <button class="btn btn-default" type="button" (click)="backToList()">Cancel</button>
      </span>
    </div>
  </div>
</div>
