<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Angular" version="3.0.2" />
  <module moduleId="Intent.Angular.Layout" version="3.0.3" />
  <module moduleId="Intent.Angular.ServiceProxies" version="3.0.2" />
  <module moduleId="Intent.Common" version="3.0.6" />
  <module moduleId="Intent.Common.Html" version="3.0.2" />
  <module moduleId="Intent.Common.Types" version="3.0.5" />
  <module moduleId="Intent.Common.TypeScript" version="3.0.7" />
  <module moduleId="Intent.Java.Services" version="1.0.2" metadataOnly="true" />
  <module moduleId="Intent.Metadata.WebApi" version="3.0.4" />
  <module moduleId="Intent.Modelers.Services" version="3.0.3" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="3.0.4" />
  <module moduleId="Intent.Modelers.WebClient" version="3.0.1" />
  <module moduleId="Intent.Modelers.WebClient.Angular" version="3.0.2" />
  <module moduleId="Intent.OutputTargets.Folders" version="3.0.3" />
</modules>