<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Angular" version="3.4.0" />
  <module moduleId="Intent.Angular.Layout" version="3.3.2" />
  <module moduleId="Intent.Angular.ServiceProxies" version="3.4.0" />
  <module moduleId="Intent.Common" version="3.3.17" />
  <module moduleId="Intent.Common.Html" version="3.3.3" />
  <module moduleId="Intent.Common.Types" version="3.3.6" />
  <module moduleId="Intent.Common.TypeScript" version="3.3.9" />
  <module moduleId="Intent.Metadata.WebApi" version="3.3.10" />
  <module moduleId="Intent.Modelers.Domain" version="3.3.10" />
  <module moduleId="Intent.Modelers.Services" version="3.3.6" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="3.3.6" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="3.3.6" />
  <module moduleId="Intent.Modelers.WebClient" version="3.3.2" />
  <module moduleId="Intent.Modelers.WebClient.Angular" version="3.3.2" />
  <module moduleId="Intent.OutputTargets.Folders" version="3.3.4" />
</modules>