<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Angular" version="4.0.0-alpha.3" />
  <module moduleId="Intent.Angular.Layout" version="4.0.0-alpha.2" />
  <module moduleId="Intent.Angular.ServiceProxies" version="4.0.0-alpha.3" />
  <module moduleId="Intent.Common" version="3.5.0-beta.3" />
  <module moduleId="Intent.Common.Html" version="3.3.6" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Common.TypeScript" version="3.4.3" />
  <module moduleId="Intent.Metadata.WebApi" version="4.4.0-beta.3" />
  <module moduleId="Intent.Modelers.Domain" version="3.5.0-beta.2" />
  <module moduleId="Intent.Modelers.Services" version="3.5.0-beta.1" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="4.1.0-beta.1" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="5.1.0-pre.0" />
  <module moduleId="Intent.Modelers.WebClient" version="4.0.0" />
  <module moduleId="Intent.Modelers.WebClient.Angular" version="4.0.0-alpha.2" />
  <module moduleId="Intent.Npm" version="3.3.5" />
  <module moduleId="Intent.OutputTargets.Folders" version="3.3.7" />
</modules>